<div class="form_main">
 <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <div class="form_title">会員登録</div>
  <%= render "shared/error_messages", model: f.object %>

  <div class="form_input"> 
    <div class="col-12"> 
     <%= f.label :nickname, class:"form-label" %><br />
     <%= f.text_area :nickname, class:"form-control", id: "nickname", autofocus: true, placeholder: "nickname" , maxlength: "20"%>
    </div>

    <div class="col-12"> 
     <%= f.label :email, class:"form-label" %><br />
     <%= f.email_field :email, class:"form-control", id: "email", placeholder: "email" %>
    </div>

    <div class="col-12"> 
     <%= f.label :password, class:"form-label" %><br />
     <%= f.password_field :password, class:"form-control", id: "password", placeholder: "password" %>
     <div class="form-text">
      半角英数字<%= @minimum_password_length %>文字以上で入力してください。
     </div>
    </div>

    <div class="col-12"> 
     <%= f.label :password_confirmation, class:"form-label" %><br />
     <%= f.password_field :password_confirmation, class:"form-control", id: "password_confirmation", placeholder: "password" %>
     <div class="form-text">
      同じパスワードを入力してください。
     </div> 
    </div>
  </div>

  <div class="form_btn">
   <%= f.submit "会員登録", class:"btn btn-danger btn-sm"%>
   <%= link_to "戻る", root_path, class:"btn btn-light btn-sm" %>
  </div> 
 <% end %>
</div>

