<%# あいさつ部分 %>
<div class="greeting_message" >
 <% if user_signed_in? %>
  <%= link_to current_user.nickname, user_path(current_user.id), class:"user_name_link" %>さん、こんにちは！
 <% end%>
 今日のご飯は何にしますか？
</div>

<%# 検索box %>
<div class="search_box_area">
 <div class="search_box">
  <%= form_with url:search_recipes_path, method: :get, local: true, class:"form d-flex" do | f | %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control search_box_element"}) %>
    <%= f.text_field :keyword, placeholder:"食材で検索", class:"form-control search_box_element" %>
    <%= f.submit "検索", class:"btn btn-danger search_box_element" %>
  <% end %>
 </div>
 <div class="search_message">
  <%# ローカル環境でkuromojiを導入する場合 %>
  <%# 全角で入力してください。アレルギー登録した食材を含むレシピは表示されません。 %>
  <%# romajiのみを利用する場合 %>
  全角かなカナで入力してください。アレルギー登録した食材を含むレシピは表示されません。
 </div>
</div>

<%# おすすめレシピ %>
<% if !@recommend_recipes.empty? %>
 <div class="recipes_content">
   <div class="recipes_content_title"><%= @taste %>な人はこんなお料理を作っています</div>
   <div class="recipe_lists container">
      <div class="row">
       <% @recommend_recipes.each do |recipe| %>
         <div class="card col-12 m-1" style="width: 16rem;">
          <%= link_to image_tag(recipe.image, class:"card-img-top fit_image"), recipe_path(recipe) %>
          <div class="card-body">
            <h5 class="card-title recipe_title">
             <%= link_to recipe.title, recipe_path(recipe), class:"title_name_link" %>
            </h5>
            <h5 class='user_name'>
             <%= link_to recipe.user.nickname, user_path(recipe.user.id), class:"user_name_link" %>さんの投稿
            </h5>
          </div>
         </div>
       <% end %>
      </div>
   </div>
 </div>
<% end %>

<%# 新着レシピ %>
<div class="recipes_content">
  <div class="recipes_content_title">新着レシピ</div>
  <div class="recipe_lists container">
     <div class="row">
     <% @recipes.each do |recipe| %>
       <div class="card col-12 m-1" style="width: 16rem;">
        <%= link_to image_tag(recipe.image, class:"card-img-top fit_image"), recipe_path(recipe) %>
        <div class="card-body">
          <h5 class="card-title recipe_title">
           <%= link_to recipe.title, recipe_path(recipe), class:"title_name_link" %>
          </h5>
          <h5 class='user_name'>
           <%= link_to recipe.user.nickname, user_path(recipe.user.id), class:"user_name_link" %>さんの投稿
          </h5>
        </div>
       </div>
     <% end %>
    </div>
  </div>
</div>