<div class="recipe_main">
 <%# 見出し %>
 <div class="top_message">
   <%= @recipe.title %>
 </div>

 <%# 写真 %>
 <div class="recipe_photo" >
  <%= image_tag @recipe.image, class:"img-fluid" %>
 </div>

 <%# トピックブロック%>
 <div class="recipe_topics">
  <div class="topics_top_block" >
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
   </svg>
   <div class="topics_user_name" >
    <%= link_to @recipe.user.nickname, user_path(@recipe.user.id), class:"user_name_link" %>さんの投稿
   </div>
  </div>
  <div class="topics_category_name">
   <%= @recipe.category.name %>ジャンルのお料理
  </div>
 </div>

 <%# 材料 %>
 <div class="recipe_materials">
  <h5 class="material_title">材料</h6>
   <table class="table table-light">
   <thead>
    <tr claas>
      <th scope="col">材料</th>
      <th scope="col">分量</th>
    </tr>
    </thead>
   <tbody>
    <% @recipe.materials.length.times do | i | %>
    <tr>
      <td><%= @recipe.materials[i].name %></td>
      <td><%= @recipe.recipe_materials[i].amount %></td>
    </tr>
    <% end %>
   </tbody>
  </table>
 </div>
 
 <%# テキスト(作り方) %>
 <div class="recipe_text">
  <h5 class="text_title">作り方</h5>
  <div class="card">
    <div class="card-body">
     <%= @recipe.text %>
    </div>
  </div>
 </div>

</div>
