
<div class="form_main">
 <%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="form_title">ログイン</div>

  <div class='login_error_message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <div class="form_input">
   <div class="container-fluid">
    <div class="row">
    
     <div class="col-8"> 
      <%= f.label :email, class:"form-label" %><br />
      <%= f.email_field :email, class:"form-control", id: "email", placeholder: "email", autofocus: true %>
     </div>

     <div class="col-8"> 
      <%= f.label :password, class:"form-label" %><br />
      <%= f.password_field :password, class:"form-control", id: "password", placeholder: "password" %>
     </div>

    </div>
   </div>
  </div>

  <div class="form_btn">
   <%= f.submit "ログイン", class:"btn btn-danger btn-sm"%>
   <%= link_to "戻る", root_path, class:"btn btn-light btn-sm" %>
  </div> 
 <% end %>
</div>
